:root {
  --primary-color: #15B7BC;
  --border-radius: 20px;

}

* {
  box-sizing: border-box;
  margin: 0;
  padding:0;
}

.App {
  background-color: #01010D;
  padding-bottom: 200px;
}


.header-container {
  position: relative;
  height: 600px;
  width: 100%;
  background-image: url('images/home-background-image.jpg');
  background-size: cover;
  background-position: center;
  padding-left: 200px;
  padding-right: 50px;
  display: flex;
  align-items: center; /* Align items vertically */
}

.header-container2 {
  position: relative;
  height: 500px;
  width: 100%;
  background-image: url('images/ai-brain.jpg');
  background-size: cover;
  background-position: center;
  padding-left: 200px;
  padding-right: 50px;
  display: flex;
  align-items: center; /* Align items vertically */
}

.header-container-3 {
  position: relative;
  height: 500px;
  width: 100%;
  background-image: url('images/publication-main-img.jpg');
  background-size: cover;
  background-position: center;
  padding-left: 200px;
  padding-right: 50px;
  display: flex;
  align-items: center; /* Align items vertically */
}

.gradient-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, transparent, rgba(1, 1, 13, 1)); /* Gradient overlay */
}

.header-text {
  position: relative;
  flex-grow: 1; /* Allow header text to take remaining space */
}

.content {
  padding-left: 20px;
}

.main-title {
  color: white;
  font-size: 55px; /* Increased font size */
  font-weight: bold; /* Made bold */
  padding-right: 500px;
}

.paragraph-title {
  margin: 0;
  color: white;
  font-size: 40px; /* Increased font size */
  font-weight: normal; /* Made bold */
}

.subtitle {
  margin: 0;
  color: white;
  font-weight: normal; /* Removed bold */
}

.learn-more-button {
  margin-top: 20px; /* Increased margin */
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 20px 40px; /* Increased button size */
  border-radius: 8px; /* Increased border radius */
  cursor: pointer;
  font-size: 18px; /* Increased font size */
  font-weight: bold; /* Made text bold */
  text-decoration: none; /* Remove underline */

}

.learn-more-button:hover {
  background-color: #0F9297; /* Darken the color slightly on hover */
}

.header-text > .content > * {
  margin-bottom: 15px;
}

.info-paragraph {
  padding-right: 200px; /* Add right padding for better spacing */
  margin-top: 150px; /* Add margin to separate content from header */
  color: white; /* Add text color */
  padding-left: 200px;

}

.info-paragraph2 {
  margin-top: 50px; /* Add margin to separate content from header */
  color: white; /* Add text color */
  padding-right: 200px;

}

.info-paragraph3 {
  margin-top: 20px; /* Add margin to separate content from header */
  color: white; /* Add text color */
  padding-right: 200px;

}


.bottom-padding {
  padding-bottom: 600px;
}
.top-padding-small {
  padding-top: 75px;
}

.bold {
  font-weight: bold;
}
.card-container {
  display: flex;
  justify-content: space-between; /* Align cards horizontally with space between */
  gap: 30px;
  margin-top: 40px; /* Add margin to separate from previous content */
}



.card {
  width: 100%; /* Adjust the width of the cards */
  height: 200px;
  border: 1px solid #ccc; /* Gray outline */
  padding: 40px; /* Add padding inside the cards */
  border-radius: var(--border-radius);
  box-sizing: border-box; /* Include padding and border in the total width and height */
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: transform 0.3s ease; /* Add transition for smooth hover effect */

}

.left-content {
  padding-right: 5px;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(21, 183, 188, 0.5); /* Add outer glow effect */
}

.card-image-placeholder {
  width: 130px; /* Adjust the width of the image placeholder */
  height: 130px; /* Adjust the height of the image placeholder */
  float: right; /* Float the image placeholder to the left */

}

.large-card-text {
  font-size: 40px;
  font-weight: bold; /* Make large card text bold */
  margin-bottom: 3px; /* Add margin between large and small card text */
  
}

.small-card-text {
  font-size: 14px; /* Set font size for small card text */
}

.blue-line {
  width: 75px; /* Adjust the width of the line */
  height: 5px; /* Adjust the height of the line */
  background-color: var(--primary-color); /* Blue color */
  border-radius: 5px; /* Rounded corners */
  margin-bottom: 20px; /* Add some space below the line */
  margin-top: 5px;
  padding-top: 5px;
}

.circle-container {
  display: flex;
  justify-content: space-between; /* Align circles horizontally with space between */
  gap: 40px;
  margin-top: 200px; /* Add margin to separate from previous content */
  padding-right: 200px; /* Add right padding for better spacing */
  margin-top: 150px; /* Add margin to separate content from header */
  padding-left: 200px;
  width: 100%;
}

.circle-image {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 2px solid var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.circle-image img {
  max-width: 200px;
  max-height: 700px;

}



.column {
  width: 25%; /* Make each column span 25% of the screen width */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.column-content {
  margin-top: 40px; /* Add margin between circle and cards */
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.card {
  width: 100%; /* Adjust the width of the cards */
  height: 150px; /* Adjust the height of the cards */
  border: 1px solid #ccc; /* Gray outline */
  border-radius: var(--border-radius);
  box-sizing: border-box; /* Include padding and border in the total width and height */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-image-placeholder {
  width: 80px; /* Adjust the width of the image placeholder */
  height: 80px; /* Adjust the height of the image placeholder */
}

.img-container {
  padding-top: 90px;
  display: flex;
  justify-content: center; /* Align cards horizontally with space between */
  margin-top: 20px; /* Add margin to separate from previous content */
}

.img-container img {
  max-height:90%; 
  max-width:90%;
}

.medium-card-text {
  font-size: 20px;
  font-weight: bold; /* Make large card text bold */
  margin-bottom: 3px; /* Add margin between large and small card text */
  color: white;
  text-decoration: none; /* Remove underline */
  padding-bottom: 5px;
}

.tiny-card-text {
  font-size: 14px; /* Set font size for small card text */
  color: white;
  text-decoration: none; /* Remove underline */
}






