.navbar {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    padding-right: 200px; /* Add right padding for better spacing */
    padding-left: 200px;
    display: flex;
    align-items: center; 
    position: fixed; /* Make the navbar stick to the top */
    width: 100%; /* Take full width of the screen */
    height: 100px;
    top: 0; /* Stick to the top of the screen */
    left: 0;
    right: 0;
    z-index: 1;
    border-bottom: 1px solid gray;
  }
  
  .brand {
    font-weight: bold;
  }
  
  .link {
    color: white;
    text-decoration: none;
    margin-left: 20px;
  }
  
  .link:hover {
    text-decoration: underline;
  }
  
  body {
    padding-top: 100px;
  }